@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include wh100;

  &:focus {
    box-shadow: none;
    outline: none;
  }

  @include hover {
    cursor: pointer;
  }
}

.up-btn {
  padding: size(12);
  border: 0;
  @include transitionsall;

  @include hover {
    opacity: 1;
  }
}

.btn-hamburger {
  @include transparent-button;
  @include flex-center-column;
  gap: size(8);
  width: size(28);
  height: size(28);
  position: relative;
  z-index: 99999;

  .line {
    @include w100;
    height: size(2);
    @include radius(4);
    background: $white;
    display: block;
    @include transitionsall;
  }

  &.is-active {
    margin: size(20) auto 0;

    .line {
      &:nth-child(1){
        @include transform(translateY(size(-4)) rotate(45deg));
      }

      &:nth-child(2){
        @include transform(translateY(size(-15)) rotate(-45deg));
      }
    }
  }
}

.btn-burger {
  @include transparent-button;
  @include flex-center-column;
  width: size(28);
  height: size(14);
  
  svg {
    @include wh100;
  }
}

.btn-submit {
  border: 0;
  @include setBgColor($white, $countdowntext);
  @include radius(50);
  @include flex-center;
  @include font($tt-nooks-script-trial, 16, bold, normal, 22.4);
  @include w100;
  padding: size(14);
  text-align: center;
  text-transform: uppercase;
  @include transitionsall;

  @include breakpoint(tab992) {
    font-size: size(18);
  }

  @include hover {
    @include setBgColor($overlaybg, $white);
  }
}

.btn-submit-2 {
  border: 0;
  @include setBgColor($radiotext, $white);
  @include radius(50);
  @include flex-center;
  @include font($tt-nooks-script-trial, 16, bold, normal, 22.4);
  @include w100;
  padding: size(14);
  text-align: center;
  text-transform: uppercase;
  @include transitionsall;

  @include breakpoint(tab992) {
    font-size: size(18);
  }

  @include hover {
    @include setBgColor($overlaybg, $white);
  }
}

.btn-settings {
  @include square(40);
  @include flex-center;
  @include transparent-button;
  @include border(solid, 1, #ccc);
  background: $white;

  .icon {
    @include square(20);
    @include flex-center;
    animation: rotation infinite 1s linear;
    overflow: hidden;

    svg {
      @include wh100;
    }
  }
}