@use "../../global" as *;
@use "../../partials" as *;

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0;
  @include wh100;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.up-btn {
  opacity: 1;
  padding: size(12);
  border: 0;
}