
@use "../../global" as *;
@use "../../partials" as *;

.settings {
  position: fixed;
  top: 50%;
	@include translateY(-50%);
	left: size(-250);
  z-index: 999999;
	width: size(250);
	background: $white;
	box-shadow: $cardshadow;
	@include transitionsall;

	&-header {
		background: $white;
		@include square(40);
		@include flex-center;
		position: absolute;
		top: 0;
		right: size(-40);
		z-index: 999999;
	}

	&-body {
		padding: size(24);
		@include flex-column;
		gap: size(12);

		.settings-title {
			color: $footertitle;
			@include font($tt-nooks-script-trial, 16, normal, normal, 22.4);
			text-transform: uppercase;
		}

		.settings-themes {
			@include flex-center-vert;
			gap: size(8);
		}

		.template-colors {
			@include flex-column;
			gap: size(8);

			.template-buttons {
				@include flex-center-between;

				.btn-color {
					width: 49%;
					@include flex-center;
					@include font($tt-nooks-script-trial, 13, normal, normal, 18.2);
					@include setBgColor($white, $footertitle);
					@include border(solid, 1, $footertitle);
					padding: size(5);
					text-align: center;
					@include transitionsall;
					
					&:hover:not(.active) {
						@include setBgColor($footertitle, $white);
					}

					&.active {
						border-color: $footertitle;
						@include setBgColor($footertitle, $white);
					
						@include hover {
							@include setBgColor($radiotext, $white);
						}
					}
				}
			}

			.template-text {
				@include font($tt-nooks-script-trial, 13, normal, normal, 18.2);
			}
		}
	}

	&.is-active {
		left: size(0);
	}
}