@use "../../global" as *;
@use "../../partials" as *;

.footer {
  padding: size(96) 0;
  position: relative;

  @include breakpoint(tab992) {
    padding: size(144) 0 size(128);
  }

  &-info {
    @include flex-center-column;
    gap: size(40);
    text-align: center;

    .footer-title {
      color: $footertitle;
      @include font($tt-nooks-script-trial, 16, light, normal, 22.4);
    
      @include breakpoint(mobile576) {
        font-size: size(18);
      }
    }

    .info {
      @include flex-center-column;
      text-align: center;

      &-title {
        color: $footertitle;
        @include font($zagora, 20, normal, normal, 28);
        text-transform: capitalize;

        @include breakpoint(mobile768) {
          font-size: size(24);
        }
      
        @include breakpoint(tab992) {
          font-size: size(28);
        }
      
        @include breakpoint(desktop1200) {
          font-size: size(32);
        }
      }

      &-icons {
        @include w100;
        @include flex-center;

        .centericon {
          @include square(75);
          @include flex-center;
          overflow: hidden;

          svg {
            @include wh100;
          }
        }
      }
    }
  }
  
  .lefticon,
  .righticon {
    position: absolute;
    bottom: 0;
    width: size(96);
    height: size(80);
    @include flex-center;
    overflow: hidden;
    z-index: 1;
    
    @include breakpoint(mobile576) {
      width: size(117);
      height: size(138);
    }
    
    @include breakpoint(mobile768) {
      width: size(217);
      height: size(238);
    }
  
    svg {
      @include wh100;
    }
  }
  
  .lefticon {
    left: 0;
  }

  .righticon {
    right: 0;
  }
}

.footer-2 {
  padding: size(96) 0;

  @include breakpoint(tab992) {
    padding: size(144) 0 size(128);
  }

  .footer-info {
    position: relative;
    @include flex-center;
    text-align: center;

    .section-title {
      color: $footertitle;
      font-family: $alexbrush;
      text-transform: capitalize;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      width: size(96);
      height: size(80);
      @include flex-center;
      overflow: hidden;
      z-index: -1;
      
      @include breakpoint(mobile576) {
        width: size(117);
        height: size(138);
      }
      
      @include breakpoint(mobile768) {
        width: size(217);
        height: size(238);
      }
      
      @include breakpoint(tab992) {
        width: size(217);
        height: size(238);
      }
    
      svg {
        @include wh100;
      }
    }
  }
}
