@use "../../global" as *;
@use "../../partials" as *;

.preloader {
	@include flex-center;
	position: fixed;
	inset: size(0);
	@include w100;
	min-height: 100vh;
	overflow: hidden;
	z-index: 9999999999;
	background: $white;

	.loader {
		@include square(250);
		@include flex-center;
	}
}