@use "../../global" as *;
@use "../../partials" as *;

.cardblog {
  background: $white;
  box-shadow: $blogshadow;
  @include radius(8);
  @include flex-column;
  gap: size(16);
  padding: size(10);

  &-header {
    @include radius(8);
    @include flex-center;
    overflow: hidden;
    position: relative;

    .blog-thumbnail {
      @include w100;
      height: size(200);
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
        object-fit: cover;
        @include transitiontransform;
      }
    }

    .overlay {
      position: absolute;
      inset: 0;
      background: rgba($overlagybg, .7);
      @include flex-center;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      z-index: 100;
      @include transitionsall;

      .icon {
        @include square(50);
        @include flex-center;
        overflow: hidden;

        svg {
          @include wh100;
        }
      }
    }

    @include hover {
      .overlay {
        opacity: 1;
        visibility: visible;
      }

      .blog-thumbnail {
        img {
          @include scale(1.05);
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(16);
    padding: 0 size(10) size(20);

    .blog-category,
    .publish-date {
      color: $category;
      font-size: size(14);
      font-weight: 400;
    }

    .blog-title {
      color: $headingcolor;
      font-size: size(18);
      font-weight: 600;
      @include line-clamp;
      @include transitionscolor;

      @include hover {
        color: $buttonbg;
      }
    }

    .blog-text {
      color: $headingcolor;
      font-size: size(14);
      font-weight: 400;
    }
  }
}