@use '../global' as *;
@use '../partials' as *;


/**====================================================
**                  HEADING-TEXTS                    **
**==================================================**/
.bigtitle-1 {
  @include font($primaryFont, 32, medium, normal, 44.8);

  @include breakpoint(mobile768) {
    font-size: size(40);
  }

  @include breakpoint(tab992) {
    font-size: size(50);
  }

  @include breakpoint(desktop1200) {
    font-size: size(60);
  }

  @include breakpoint(desktop1400) {
    font-size: size(70);
  }
}

.bigtitle-2 {
  @include font($primaryFont, 32, medium, normal, 44.8);

  @include breakpoint(mobile768) {
    font-size: size(40);
  }

  @include breakpoint(tab992) {
    font-size: size(48);
  }

  @include breakpoint(desktop1200) {
    font-size: size(60);
  }
}

h1 {
  @include font($primaryFont, 26, medium, normal, 36.4);

  @include breakpoint(mobile768) {
    font-size: size(32);
  }

  @include breakpoint(tab992) {
    font-size: size(40);
  }

  @include breakpoint(desktop1200) {
    font-size: size(48);
  }
}

h3 {
  @include font($primaryFont, 22, normal, normal, 30.8);

  @include breakpoint(mobile768) {
    font-size: size(25);
  }

  @include breakpoint(tab992) {
    font-size: size(28);
  }

  @include breakpoint(desktop1200) {
    font-size: size(31);
  }
}

h4 {
  @include font($primaryFont, 19, normal, normal, 26.6);

  @include breakpoint(mobile768) {
    font-size: size(21);
  }

  @include breakpoint(tab992) {
    font-size: size(24);
  }
}

h5 {
  @include font($primaryFont, 16, normal, normal, 24);

  @include breakpoint(mobile768) {
    font-size: size(18);
  }

  @include breakpoint(tab992) {
    font-size: size(20);
  }
}

h6 {
  @include font($primaryFont, 16, normal, normal, 24);

  @include breakpoint(mobile768) {
    font-size: size(17);
  }

  @include breakpoint(tab992) {
    font-size: size(18);
  }
}


/**====================================================
**                  OTHER-TEXTS                      **
**==================================================**/