@use "../global" as *;
@use "../partials" as *;

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;

  &:focus-within {
    scroll-behavior: inherit;
  }
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
button,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
header,
hgroup,
html,
i,
input,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
main,
nav,
object,
ol,
output,
option,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
select,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;

  &::selection {
    @include setBgColor($buttonbg, $white);
  }
}

body {
  @include setBgColor($bodybg, $textcolor);
  @include font($primaryFont, 14, normal, normal, 19.6);
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingcolor;
  margin: 0;

  &::selection {
    @include setBgColor($buttonbg, $white);
  }
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

a,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

input,
select,
textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

// HIDE INPUT ARROWS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;

  &:focus {
    outline: none;
  }
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  @include w100;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

table {
  tr {
    vertical-align: middle;

    th, td{
      vertical-align: middle;
    }
  }
}