// DEFAULT COLORS
$bodybg: hsl(0, 33%, 98%); //#FBF7F7
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS

// BACKGROUND-COLORS
$overlaybg: hsl(231, 71%, 15%); //#0B1341
$countdowntext: hsl(237, 31%, 41%); //#484B89
$footertitle: hsl(232, 36%, 35%); //#3A437B

$countoverlay: hsl(346, 77%, 66%); //#EB6684

// ICON-BACKGROUNDS


// TEXT-COLORS
$textprimary: hsl(231, 15%, 24%); //#343747

// SUCCESS COLOR


// DANGER COLOR
$dangercolor: hsl(343, 79%, 50%); //#E31B54
$red: hsl(1, 71%, 54%); //#dd3936

// LINEAR-BACKGROUNDS


// BORDER-COLORS


// SHADOWS

// BOX-SHADOWS



// LETTER-SPECING
$specing-1: size(0.24);