@use "../global" as *;
@use "../partials" as *;

/*
 HOME-SLIDER-SECTION START
*/
.home-slider {
  position: relative;
  
  .homefadeslider {
    position: relative;

    .swiper-slide {
      .slider-title {
        font-family: $vivaldi;
      }
    }

    .arrow {
      width: size(8);
      height: size(64);
      @include flex-center;
      overflow: hidden;
      position: absolute;
      bottom: size(32);
      left: 50%;
      @include translateX(-50%);
      z-index: 100;
      animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);

      svg {
        @include wh100;
      }

      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          @include translateY(0);
        }

        30% {
          @include translateY(size(-30));
        }

        60% {
          @include translateY(size(-15));
        }
      }
    }
  }
}

/*
 COUPLE-3-SECTION START
*/
.couples-3 {
  position: relative;

  .coupleinfo {
    padding: size(80) size(8) size(192);
    position: relative;
    z-index: 100;

    @include breakpoint(tab992) {
      padding: size(115) size(8) size(192);
    }
  }

  // &-content {
  //   @include flex-column;
  //   gap: size(48);
    
  //   @include breakpoint(tab992) {
  //     gap: size(0);
  //   }
  // }

  .profile-picture {
    @include w100;
    min-height: size(260);
    max-height: size(470);
    @include flex-center;
    overflow: hidden;
    position: relative;
    z-index: 100;
  }

  .profile-info {
    @include flex-column;
    gap: size(20);
    position: relative;
    z-index: 100;

    @include breakpoint(tab992) {
      gap: size(32);
    }

    .profilename {
      color: var(--white);
      font-weight: 400;

      @include breakpoint(tab992) {
        font-size: size(24);
      }
    }

    .section-text {
      color: var(--white);
      @include font($tt-nooks-script-trial, 16, light, normal, 22.4);
    
      @include breakpoint(mobile576) {
        font-size: size(18);
      }
    }
  }

  .overlay {
    background: rgba($overlaybg, 0.5);
    position: absolute;
    inset: 0;
    @include wh100;
    z-index: 1;
  }

  .icon {
    @include square(125);
    @include flex-center;
    overflow: hidden;

    @include breakpoint(tab992) {
      @include square(225);
    }

    svg {
      @include wh100;
    }
  }
}

/*
 OURGALLERY-3-SECTION START
*/
.ourgallery-3 {
  padding: size(96) size(0);
  overflow: hidden;

  @include breakpoint(tab992) {
    padding: size(115) size(0);
  }

  .newgallery {
    @include flex-center-vert;
    flex-wrap: wrap;

    .card-gallery {
      @include w100;
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
        object-fit: cover;
        @include transitiontransform;
    
        @include hover {
          @include scale(1.1);
        }
      }

      @include breakpoint(mobile576) {
        width: calc(100% / 2);
      }

      @include breakpoint(mobile768) {
        width: calc(100% / 3);
        height: size(248);
      }

      @include breakpoint(tab992) {
        width: calc(100% / 4);
      }

      @include breakpoint(desktop1400) {
        width: calc(100% / 8);
      }
    }
  }
}

/*
 COUNTDOWN-3-SECTION START
*/
.countdown-3 {
  padding: size(96) size(8);
  position: relative;

  @include breakpoint(tab992) {
    padding: size(115) size(8) size(165);
  }

  &-content {
    @include flex-center-column;
    gap: size(48);
    text-align: center;
    
    @include breakpoint(tab992) {
      gap: size(80);
    }
  }

  &-info {
    .title {
      color: var(--footertitle);
      @include font($tt-nooks-script-trial, 20, normal, normal, 28);
      text-align: center;

      @include breakpoint(mobile576) {
        font-size: size(24);
      }
    
      @include breakpoint(mobile768) {
        font-size: size(28);
      }
    
      @include breakpoint(tab992) {
        font-size: size(32);
      }
    }
  }
  
  &-details {
    background: var(--white);
    box-shadow: var(--cardshadow);
    flex-grow: 1;
    @include w100;
    padding: size(24);

    @include breakpoint(tab992) {
      padding: size(48);
    }

    .countdown-clock {
      @include flex-center-between;
      gap: size(20);

      .countdown-time {
        width: calc(100% / 4);
        @include flex-center-column;
        gap: size(4);

        .days,
        .hours,
        .minutes,
        .seconds {
          color: var(--countdowntext);
          font-family: $tt-nooks-script-trial;
          font-weight: 700;
        }

        .count-title {
          color: var(--countdowntext);
          @include font($tt-nooks-script-trial, 18, light, normal, 25.2);

          @include breakpoint(tab992) {
            font-size: size(20);
          }

          @include breakpoint(desktop1200) {
            font-size: size(24);
          }
        }
      }
    }
  }

  .linkbox {
    margin-top: size(-64);

    @include breakpoint(tab992) {
      margin-top: size(0);
    }
  }

  .lefticon,
  .righticon {
    width: size(138);
    height: size(117);
    @include flex-center;
    overflow: hidden;
    position: relative;
    z-index: -1;

    @include breakpoint(tab992) {
      width: size(238);
      height: size(217);
    }

    svg {
      @include wh100;
    }
  }

  .lefticon {
    align-self: flex-start;
    margin : size(0) size(0) size(0) size(-80);
    top: size(32);

    @include breakpoint(tab992) {
      margin: size(0);
      top: size(0);
    }
  }

  .righticon {
    align-self: flex-end;
    margin : size(-32) size(-80) size(0) size(0);

    @include breakpoint(tab992) {
      margin: size(0);
    }
  }
}

/*
 WHENWHERE-3-SECTION START
*/
.whenwhere-3 {
  padding: size(96) size(8) size(0);
  position: relative;

  @include breakpoint(tab992) {
    padding: size(115) size(8) size(0);
  }
  
  &-header {
    @include flex-center-column;
    gap: size(32);
    text-align: center;
    margin-bottom: size(48);

    @include breakpoint(tab992) {
      margin-bottom: size(80);
    }

    .title {
      font-size: size(28);
      color: var(--footertitle);
      font-weight: 400;

      @include breakpoint(mobile768) {
        font-size: size(32);
      }

      @include breakpoint(tab992) {
        font-size: size(42);
      }
    }

    .text {
      color: var(--textcolor);
      @include font($tt-nooks-script-trial, 16, light, normal, 22.4);

      @include breakpoint(tab992) {
        font-size: size(18);
      }
    }
  }

  &-body {
    background: var(--sectionbg);
    @include flex-center-column;
    gap: size(80);
    padding: size(64) size(0);
  }
}

/*
 LOVESTORY-3-SECTION START
*/
.lovestory-3 {
  .lovestory-footer {
    .section-title {
      font-family: $vivaldi;
    }
  }
}

/*
 LOCATIONMAP-2-SECTION START
*/
.locationmap-2 {
  padding: size(80) size(8);
  position: relative;

  @include breakpoint(tab992) {
    padding: size(96) size(8) size(115);
  }

  &-content {
    @include flex-center-column;
    gap: size(80);
    text-align: center;
  }

  .title {
    color: var(--footertitle);
    font-family: $tt-nooks-script-trial;
  }

  .locationmap-box {
    @include flex-center;
    @include w100;
    min-height: size(360);
    max-height: size(530);
    @include border(solid, 20, $mapborder);
    box-shadow: var(--cardshadow);
    position: relative;
    z-index: 100;

    iframe {
      @include w100;
      min-height: size(350);
      max-height: size(530);
      position: relative;
      z-index: 100;
    }
  }

  .lefticon,
  .righticon {
    width: size(138);
    height: size(117);
    @include flex-center;
    overflow: hidden;
    position: absolute;
    z-index: 1;

    @include breakpoint(desktop1400) {
      width: size(238);
      height: size(217);
    }

    svg {
      @include wh100;
    }
  }

  .lefticon {
    bottom: size(0);
    left: size(-42);

    @media screen and (max-width: size(1024)){
      z-index: -1;
    }
  }

  .righticon {
    top: size(-20);
    right: size(-42);
  }
}

/*
 EMPTY-BANNER-3-SECTION START
*/
.empty-banner-3 {
  @include breakpoint(desktop1200) {
    height: size(600);
    max-height: size(600);
  }

  .empty-thumbnail {
    @include breakpoint(desktop1200) {
      height: size(600);
      max-height: size(600);
    }
  }
}

/*
 ATTENDING-3-SECTION START
*/
.attending-3 {
  position: relative;
  padding: size(96) size(8);

  @include breakpoint(tab992) {
    padding: size(115) size(8);
  }

  .attending-details {
    gap: size(32);

    .display-2 {
      color: var(--footertitle);
    }

    .section-text {
      color: var(--textcolor);
    }

    .display-2 {
      font-family: $vivaldi;
    }
  }

  .lefticon,
  .righticon {
    width: size(138);
    height: size(117);
    @include flex-center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    @include translateY(-50%);
    z-index: 1;

    @include breakpoint(tab992) {
      width: size(238);
      height: size(217);
    }

    svg {
      @include wh100;
    }
  }

  .lefticon {
    left: size(-40);
  }

  .righticon {
    right: size(-40);
  }
}
/*
 CONTACT-3-SECTION START
*/
.contact-3 {
  background: var(--bodybg);
  padding: size(96) size(8);

  @include breakpoint(tab992) {
    padding: size(115) size(8);
  }

  .contact-form {
    @include flex-column;
    gap: size(80);
    padding-left: size(12);
    padding-right: size(12);
    
    @include breakpoint(tab992) {
      padding-left: 0;
      padding-right: 0;
    }

    .section-title {
      color: var(--footertitle);
      font-family: $vivaldi;
    }

    .custom-radio {
      .radio-input {
        &:checked ~ .radio-label {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .radio-label {
        position: relative;
        color: var(--radiotext);
        cursor: pointer;
        @include font($tt-nooks-script-trial, 16, light, normal, 22.4);
        padding-left: size(30);

        @include breakpoint(tab992) {
          font-size: size(18);
        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          @include translateY(-50%);
          left: 0;
        }

        &::before {
          @include square(18);
          @include border(solid, 1, var(--radiotext));
          @include circle;
          @include transitiontransform;
        }

        &::after {
          background: var(--radiotext);
          @include square(8);
          @include circle;
          left: size(5);
          opacity: 0;
          visibility: hidden;
          @include transitiontransform;
        }
      }
    }

    .confirm-attend {
      @include flex-center-vert;
      gap: size(32);

      @include breakpoint(tab992) {
        gap: size(80);  
      }
    }

    .form-control {
      @include setBgColor(transparent, var(--radiotext));
      @include radius(0);
      border: 0;
      @include border-single(bottom, solid, 1, var(--radiotext));
      @include font($tt-nooks-script-trial, 16, light, normal, 22.4);
      padding: size(14) size(20);

      @include breakpoint(tab992) {
        font-size: size(18);
      }

      &::placeholder {
        color: var(--radiotext);
      }
    }

    .nice-select {
      @include setBgColor(transparent, var(--radiotext));
      @include radius(0);
      border: 0;
      @include border-single(bottom, solid, 1, var(--radiotext));
      @include font($tt-nooks-script-trial, 16, light, normal, 22.4);
      padding: size(14) size(20);
      height: auto;

      @include breakpoint(tab992) {
        font-size: size(18);
      }

      .option {
        color: var(--countdowntext);
      }
    }
  }

  .contact-thumbnail {
    @include wh100;
    @include flex-center;
    overflow: hidden;
    
    img {
      @include wh100;
    }
  }
}