@use "../global" as *;
@use "../partials" as *;
/*
 HOME-SLIDER-SECTION START
*/
.home-slider {
  @include w100;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: size(24);
  
  @include breakpoint(tab992) {
    // margin-bottom: size(168);
  }

  .swiper {
    @include h100;

    &-slide {
      position: relative;
  
      img {
        @include wh100;
        object-fit: cover;
      }
  
      .slider-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        z-index: 10;
      }
  
      .overlay {
        background: rgba($overlaybg, 0.6);
        position: absolute;
        inset: 0;
        @include wh100;
        z-index: 1;
      }
    }
  }
}

/*
 LOVELY-COUPLE-SECTION START
*/
.lovely-couple {
  background: url(../images/lovely-couple/lovely-couple.png) no-repeat center center/cover;
  padding: size(32) 0 size(64);
  position: relative;

  @include breakpoint(tab992) {
    padding: size(48) 0 size(96);
  }
}


/*
 EMPTY-BANNER-SECTION START
*/
.empty-banner {
  position: relative;
  @include w100;
  height: size(260);

  @include breakpoint(mobile576) {
    height: size(330);
  }

  @include breakpoint(mobile768) {
    height: size(400);
  }

  @include breakpoint(tab992) {
    height: size(540);
  }

  .empty-thumbnail {
    @include wh100;
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .overlay {
    background: rgba($overlaybg, 0.6);
    position: absolute;
    inset: 0;
    @include wh100;
    z-index: 1;
  }
}

/*
 ATTENDING-SECTION START
*/
.attending {
  background: url(../images/attending/attending-bg.png) no-repeat center center/cover;
  padding: size(80) 0;
  position: relative;

  @include breakpoint(tab992) {
    padding: size(115) 0;
  }

  &-details {
    position: relative;
    z-index: 2;
    @include flex-center-column;
    gap: size(20);
    text-align: center;

    @include breakpoint(mobile768) {
      gap: size(32);
    }

    @include breakpoint(tab992) {
      gap: size(40);
    }

    @include breakpoint(desktop1200) {
      gap: size(58);
    }
  }
  
  .overlay {
    background: rgba($overlaybg, 0.6);
    position: absolute;
    inset: 0;
    @include wh100;
    z-index: 1;
  }
}

/*
 COUNTDOWN-SECTION START
*/
.countdown {
  background: url(../images/counter-banner/counter-banner-1.png) no-repeat center center/cover;
  padding: size(80) 0;
  position: relative;

  @include breakpoint(tab992) {
    padding: size(115) 0;
  }

  &-details {
    position: relative;
    z-index: 2;
    @include flex-center-column;
    gap: size(20);
    text-align: center;

    @include breakpoint(mobile768) {
      gap: size(32);
    }

    @include breakpoint(tab992) {
      gap: size(40);
    }

    .countdown-clock {
      @include flex-center;
      gap: size(24);

      .countdown-time {
        @include flex-center-column;
        gap: size(20);
        text-align: center;

        .days,
        .hours,
        .minutes,
        .seconds {
          @include square(64);
          @include setBgColor($white, $countdowntext);
          @include circle;
          @include flex-center;
          @include font($tt-nooks-script-trial, 18, bold, normal, 24);

          @include breakpoint(desktop1200) {
            @include square(80);
            font-size: size(24);
          }
        }
  
        .count-title {
          color: $white;
          @include font($tt-nooks-script-trial, 24, light, normal, 33);
        }
      }
    }
  }
  
  .overlay {
    background: rgba($overlaybg, 0.6);
    position: absolute;
    inset: 0;
    @include wh100;
    z-index: 1;
  }
}

/*
 MARQUEE-SLIDER-SECTION START
*/
.marqueeslider {
  padding: size(80) 0;

  @include breakpoint(tab992) {
    padding: size(115) 0;
  }

  @include breakpoint(desktop1200) {
    padding: size(190) 0 size(200);
  }

  &-content {
    @include flex-center-column;
    gap: size(80);
    text-align: center;
  }

  &-header {
    .section-title {
      color: $footertitle;
      font-family: $tt-nooks-script-trial;
    }

    .section-text {
      color: $textcolor;
    }
  }
}

/*
 CONTACT-SECTION START
*/
.contact {
  background: $footertitle;
  padding: size(80) 0;

  @include breakpoint(tab992) {
    padding: size(115) 0;
  }

  &-form {
    @include flex-column;
    gap: size(80);
    padding-left: size(12);
    padding-right: size(12);
    
    @include breakpoint(tab992) {
      padding-left: 0;
      padding-right: 0;
    }

    .confirm-attend {
      @include flex-center-vert;
      gap: size(40);

      @include breakpoint(tab992) {
        gap: size(80);  
      }
    }

    .form-control {
      @include setBgColor(transparent, $white);
      @include radius(0);
      border: 0;
      @include border-single(bottom, solid, 1, $white);
      @include font($tt-nooks-script-trial, 16, light, normal, 22.4);
      padding: size(14) size(20);

      @include breakpoint(tab992) {
        font-size: size(18);
      }

      &::placeholder {
        color: $white;
      }
    }

    .nice-select {
      @include setBgColor(transparent, $white);
      @include radius(0);
      border: 0;
      @include border-single(bottom, solid, 1, $white);
      @include font($tt-nooks-script-trial, 16, light, normal, 22.4);
      padding: size(14) size(20);
      height: auto;

      @include breakpoint(tab992) {
        font-size: size(18);
      }

      .option {
        color: $countdowntext;
      }
    }
  }

  &-thumbnail {
    @include wh100;
    @include flex-center;
    overflow: hidden;
    
    img {
      @include wh100;
    }
  }
}