@use "../global" as *;
@use "../partials" as *;

.countdown-2 {
  padding: size(80) size(8);
  position: relative;

  @include breakpoint(tab992) {
    padding: size(115) size(8) size(165);
  }

  &-info {
    .title {
      color: $footertitle;
      @include font($tt-nooks-script-trial, 24, normal, normal, 33.6);
      text-align: center;
    
      @include breakpoint(mobile768) {
        font-size: size(28);
      }
    
      @include breakpoint(tab992) {
        font-size: size(32);
        text-align: left;
      }
    }
  }
  
  &-details {
    .countdown-clock {
      @include flex-center-between;
      gap: size(20);

      .countdown-time {
        width: calc(100% / 4);
        @include flex-center-column;
        gap: size(4);

        .days,
        .hours,
        .minutes,
        .seconds {
          color: $countdowntext;
          font-family: $tt-nooks-script-trial;
          font-weight: 700;
        }

        .count-title {
          color: $countdowntext;
          @include font($tt-nooks-script-trial, 18, light, normal, 25.2);

          @include breakpoint(tab992) {
            font-size: size(20);
          }

          @include breakpoint(desktop1200) {
            font-size: size(24);
          }
        }
      }
    }
  }

  .lefticon,
  .righticon {
    width: size(138);
    height: size(117);
    @include flex-center;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    @include breakpoint(tab992) {
      width: size(238);
      height: size(217);
    }

    svg {
      @include w100;
    }
  }

  .lefticon {
    bottom: size(-20);
    left: size(-20);
  }

  .righticon {
    top: size(-20);
    right: size(-20);
  }
}