@use "../global" as *;
@use "../partials" as *;

html {

  &[data-theme="purple"] {
    .header {
      .nav-center {
        .couple-name {
          color: var(--white);
        }
      }

      &.header-fixed {
        background: var(--footertitle);

        .logo {
          &-light {
            display: block;
          }
  
          &-dark {
            display: none;
          }
        }

        .hamburger-menu {
          .btn-burger {
            svg {
              line {
                stroke: var(--white);
              }
            }
          }
        }
      }

      &.header-2 {
        .nav-center {
          .section-title {
            color: var(--white);
          }
        }
      }
    }

    .header-3 {
      background: var(--footertitle);

      .nav-center {
        .menulogo {
          .section-title {
            color: var(--white);
          }
        }
      }

      .desktop-menu {
        .desktoplist {
          &-link {
            color: var(--white);

            @include hover {
              color: $linkbg;
            }
          }
        }
      }
    }

    .home-slider {
      .section-link {
        @include setBgColor(var(--white), var(--footertitle));

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }
    
    .countdown-3 {
      .section-link-4 {
        @include setBgColor(var(--white), var(--footertitle));
        border-color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .empty-banner-2 {
      .section-link-2 {
        border-color: var(--footertitle);
        color: var(--white);

        @include hover {
          background: var(--footertitle);
        }
      }
    }

    .whenwhere-2 {
      .whenwhere-detail {
        background: var(--footertitle);
      }
    }

    .whenwhere-3 {
      .section-link-4 {
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
          border-color: var(--footertitle);
        }
      }
    }

    .attending {
      .section-link {
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .countdown {
      &-details {
        .countdown-clock {    
          .days,
          .hours,
          .minutes,
          .seconds {
            @include setBgColor(var(--footertitle), var(--white));
          }
        }
      }
    }

    .more-events {
      .link-outline {
        border-color: var(--footertitle);
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .footer {
      &-info {
        .info-title {
          color: var(--footertitle);
        }
      }
    }

    .up-btn {
      background: var(--footertitle) !important;
    }

    .offcanvas {
      .sidemenu {
        &-header {
          .title {
            color: var(--footertitle);
          }
        }

        .sidenav {
          .sidelist {
            &-link {
              color: var(--footertitle);
            }
          }
        }
      }

      .menu-thumb {
        .caption {
          &-event {
            .event {
              .day-date {
                color: var(--footertitle);
    
                .day, .date {
                  color: inherit;
                }
              }

              .divider {
                background: var(--footertitle);
              }

              .locationbox {
                .location {
                  color: var(--footertitle);
                }
              }
            }
          }
        }
      }
    }
  }
  
  &[data-theme="blue"] {
    .header {
      .nav-center {
        .couple-name {
          color: var(--white);
        }
      }

      &.header-fixed {
        background: var(--footertitle);

        .logo {
          &-light {
            display: block;
          }
  
          &-dark {
            display: none;
          }
        }

        .hamburger-menu {
          .btn-burger {
            svg {
              line {
                stroke: var(--white);
              }
            }
          }
        }
      }

      &.header-2 {
        .nav-center {
          .section-title {
            color: var(--white);
          }
        }
      }
    }

    .header-3 {
      background: var(--footertitle);

      .nav-center {
        .menulogo {
          .section-title {
            color: var(--white);
          }
        }
      }

      .desktop-menu {
        .desktoplist {
          &-link {
            color: var(--white);

            @include hover {
              color: $linkbg;
            }
          }
        }
      }
    }

    .home-slider {
      .section-link {
        @include setBgColor(var(--white), var(--footertitle));

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }
    
    .countdown-3 {
      .section-link-4 {
        @include setBgColor(var(--white), var(--footertitle));
        border-color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .empty-banner-2 {
      .section-link-2 {
        border-color: var(--footertitle);
        color: var(--white);

        @include hover {
          background: var(--footertitle);
        }
      }
    }

    .whenwhere-2 {
      .whenwhere-detail {
        background: var(--footertitle);
      }
    }

    .whenwhere-3 {
      .section-link-4 {
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
          border-color: var(--footertitle);
        }
      }
    }

    .attending {
      .section-link {
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .countdown {
      &-details {
        .countdown-clock {    
          .days,
          .hours,
          .minutes,
          .seconds {
            @include setBgColor(var(--footertitle), var(--white));
          }
        }
      }
    }

    .more-events {
      .link-outline {
        border-color: var(--footertitle);
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .footer {
      &-info {
        .info-title {
          color: var(--footertitle);
        }
      }
    }

    .up-btn {
      background: var(--footertitle) !important;
    }

    .offcanvas {
      .sidemenu {
        &-header {
          .title {
            color: var(--footertitle);
          }
        }

        .sidenav {
          .sidelist {
            &-link {
              color: var(--footertitle);
            }
          }
        }
      }

      .menu-thumb {
        .caption {
          &-event {
            .event {
              .day-date {
                color: var(--footertitle);
    
                .day, .date {
                  color: inherit;
                }
              }

              .divider {
                background: var(--footertitle);
              }

              .locationbox {
                .location {
                  color: var(--footertitle);
                }
              }
            }
          }
        }
      }
    }
  }
  
  &[data-theme="red"] {
    .header {
      .nav-center {
        .couple-name {
          color: var(--white);
        }
      }

      &.header-fixed {
        background: var(--footertitle);

        .logo {
          &-light {
            display: block;
          }
  
          &-dark {
            display: none;
          }
        }

        .hamburger-menu {
          .btn-burger {
            svg {
              line {
                stroke: var(--white);
              }
            }
          }
        }
      }

      &.header-2 {
        .nav-center {
          .section-title {
            color: var(--white);
          }
        }
      }
    }

    .header-3 {
      background: var(--footertitle);

      .nav-center {
        .menulogo {
          .section-title {
            color: var(--white);
          }
        }
      }

      .desktop-menu {
        .desktoplist {
          &-link {
            color: var(--white);

            @include hover {
              color: $linkbg;
            }
          }
        }
      }
    }

    .home-slider {
      .section-link {
        @include setBgColor(var(--white), var(--footertitle));

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }
    
    .countdown-3 {
      .section-link-4 {
        @include setBgColor(var(--white), var(--footertitle));
        border-color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .empty-banner-2 {
      .section-link-2 {
        border-color: var(--footertitle);
        color: var(--white);

        @include hover {
          background: var(--footertitle);
        }
      }
    }

    .whenwhere-2 {
      .whenwhere-detail {
        background: var(--footertitle);
      }
    }

    .whenwhere-3 {
      .section-link-4 {
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
          border-color: var(--footertitle);
        }
      }
    }

    .attending {
      .section-link {
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .countdown {
      &-details {
        .countdown-clock {    
          .days,
          .hours,
          .minutes,
          .seconds {
            @include setBgColor(var(--footertitle), var(--white));
          }
        }
      }
    }

    .more-events {
      .link-outline {
        border-color: var(--footertitle);
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .footer {
      &-info {
        .info-title {
          color: var(--footertitle);
        }
      }
    }

    .up-btn {
      background: var(--footertitle) !important;
    }

    .offcanvas {
      .sidemenu {
        &-header {
          .title {
            color: var(--footertitle);
          }
        }

        .sidenav {
          .sidelist {
            &-link {
              color: var(--footertitle);
            }
          }
        }
      }

      .menu-thumb {
        .caption {
          &-event {
            .event {
              .day-date {
                color: var(--footertitle);
    
                .day, .date {
                  color: inherit;
                }
              }

              .divider {
                background: var(--footertitle);
              }

              .locationbox {
                .location {
                  color: var(--footertitle);
                }
              }
            }
          }
        }
      }
    }
  }
  
  &[data-theme="pink"] {
    .header {
      .nav-center {
        .couple-name {
          color: var(--white);
        }
      }

      &.header-fixed {
        background: var(--footertitle);

        .logo {
          &-light {
            display: block;
          }
  
          &-dark {
            display: none;
          }
        }

        .hamburger-menu {
          .btn-burger {
            svg {
              line {
                stroke: var(--white);
              }
            }
          }
        }
      }

      &.header-2 {
        .nav-center {
          .section-title {
            color: var(--white);
          }
        }
      }
    }

    .header-3 {
      background: var(--footertitle);

      .nav-center {
        .menulogo {
          .section-title {
            color: var(--white);
          }
        }
      }

      .desktop-menu {
        .desktoplist {
          &-link {
            color: var(--white);

            @include hover {
              color: $linkbg;
            }
          }
        }
      }
    }

    .home-slider {
      .section-link {
        @include setBgColor(var(--white), var(--footertitle));

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }
    
    .countdown-3 {
      .section-link-4 {
        @include setBgColor(var(--white), var(--footertitle));
        border-color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .empty-banner-2 {
      .section-link-2 {
        border-color: var(--footertitle);
        color: var(--white);

        @include hover {
          background: var(--footertitle);
        }
      }
    }

    .whenwhere-2 {
      .whenwhere-detail {
        background: var(--footertitle);
      }
    }

    .whenwhere-3 {
      .section-link-4 {
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
          border-color: var(--footertitle);
        }
      }
    }

    .attending {
      .section-link {
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .countdown {
      &-details {
        .countdown-clock {    
          .days,
          .hours,
          .minutes,
          .seconds {
            @include setBgColor(var(--footertitle), var(--white));
          }
        }
      }
    }

    .more-events {
      .link-outline {
        border-color: var(--footertitle);
        color: var(--footertitle);

        @include hover {
          @include setBgColor(var(--footertitle), var(--white));
        }
      }
    }

    .footer {
      &-info {
        .info-title {
          color: var(--footertitle);
        }
      }
    }

    .up-btn {
      background: var(--footertitle) !important;
    }

    .offcanvas {
      .sidemenu {
        &-header {
          .title {
            color: var(--footertitle);
          }
        }

        .sidenav {
          .sidelist {
            &-link {
              color: var(--footertitle);
            }
          }
        }
      }

      .menu-thumb {
        .caption {
          &-event {
            .event {
              .day-date {
                color: var(--footertitle);
    
                .day, .date {
                  color: inherit;
                }
              }

              .divider {
                background: var(--footertitle);
              }

              .locationbox {
                .location {
                  color: var(--footertitle);
                }
              }
            }
          }
        }
      }
    }
  }
}