@use "../../global"as *;
@use "../../partials"as *;

.offcanvas {
  height: 100vh;
  width: size(300) !important;

  @include breakpoint(mobile576) {
    width: size(400) !important;
  }

  @include breakpoint(mobile768) {
    width: size(528) !important;
  }

  @include breakpoint(tab992) {
    width: 62% !important;
  }

  @include breakpoint(desktop1024) {
    width: 100% !important;
  }

  &.mobilemenu {
    width: 100% !important;
  }

  &.offcanvas-top {
    border-bottom: 0;
    height: 100vh;
  }

  &.offcanvas-bottom {
    border-top: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &.offcanvas-end {
    border-left: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &-header {
    // padding-bottom: 0;

    .logo {
      @include square(60);
      @include circle;
      @include flex-center;
      overflow: hidden;
    }

    .btn-close {
      // @include setBgColor($white, $headingcolor);
      @include flex;
      gap: size(10);
      @include square(20);
      @include flex-center;
      overflow: hidden;
      @include radius(0);
      @include transitionsall;

      svg {
        @include wh100;
      }

      @include hover {
        opacity: 1;
        @include rotate(180);

        svg {
          path {
            // fill: $dangercolor;
          }
        }
      }
    }
  }

  &-body {
    .sidemenu {
      position: relative;
      @include w100;
      min-height: 100vh;
      @include flex-column;
      gap: size(24);
      text-align: center;
      padding: size(24);

      &-header {
        @include flex-center-column;

        .title {
          color: $footertitle;
          @include font($zagora, 20, normal, normal, 28);
          text-transform: capitalize;
  
          @include breakpoint(mobile768) {
            font-size: size(24);
          }
        
          @include breakpoint(tab992) {
            font-size: size(28);
          }
        
          @include breakpoint(desktop1200) {
            font-size: size(32);
          }
        }

        .menutitle {
          font-family: $vivaldi;
        }

        &-icon {
          width: size(328);
          height: size(80);
          @include flex-center;
          overflow: hidden;

          svg {
            @include w100;
          }
        }
      }

      .sidenav {
        position: relative;
        z-index: 200;

        .sidelist {
          @include list-vertical;
          align-items: center;
          text-align: center;

          &-link {
            display: inline-block;
            color: $footertitle;
            @include font($tt-nooks-script-trial, 18, normal, normal, 25.2);
            padding: size(8) size(20);
            text-transform: capitalize;
            @include transitionsall;
    
            @include breakpoint(mobile768) {
              font-size: size(20);
            }

            @include hover {
              color: $black;
            }
          }
        }
      }

      .icon {
        position: absolute;
        bottom: size(-10);
        left: size(0);
        width: size(80);
        height: size(105);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile768) {
          width: size(140);
          height: size(175);
        }

        svg {
          @include w100;
        }
      }

      &-top {
        position: relative;
        @include flex-center;
        margin-bottom: size(16);
        padding-top: size(96);
        
        @include breakpoint(tab992) {
          margin-bottom: size(40);
        }

        .title {
          font-family: $alexbrush;
          position: relative;
          z-index: 100;
          margin-top: size(-80);
        }

        &-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          @include translate(-50%, -50%);
          @include square(120);
          @include flex-center;
          overflow: hidden;
          z-index: 1;
          
          @include breakpoint(tab992) {
            @include square(192);
          }

          svg {
            @include w100;
            
            rect {
              @include w100;
            }
          }
        }
      }

      .righticon {
        position: absolute;
        bottom: size(-10);
        right: size(0);
        width: size(80);
        height: size(105);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile768) {
          width: size(140);
          height: size(175);
        }

        svg {
          @include w100;

          rect {
            @include w100;
          }
        }
      }

      .btn-close {
        background: transparent;
        position: absolute;
        top: size(32);
        right: size(32);
        width: size(30);
        height: size(14);
        @include flex-center;
        overflow: hidden;
        z-index: 1000;

        svg {
          @include wh100;
        }

        @include hover {
          opacity: 1;
        }
      }
    }

    .menu-thumb {
      position: relative;
      @include w100;
      min-height: 100vh;

      img {
        @include w100;
        min-height: 100vh;
      }
  
      .caption {
        @include flex-center-column;
        gap: size(32);
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        text-align: center;
        z-index: 10;

        .caption-title {
          color: $white;
          font-family: $calista;
          font-weight: 400;
        }

        .caption-event {
          @include flex-center-column;
          gap: size(24);
          min-width: size(300);

          @include breakpoint(mobile768) {
            min-width: size(476);
          }

          .title,
          .caption-text {
            color: $white;
            @include font($tt-nooks-script-trial, 14, normal, normal, 19);
          }

          .event {
            background: $white;
            @include radius(100);
            @include flex-center-column;
            padding: size(24);

            @media screen and (max-width: size(1100)) {
              width: 86%;
            }

            @include breakpoint(mobile768) {
              flex-direction: row;
              justify-content: space-between;
              gap: size(16);
            }

            .day-date {
              @include flex-center-column;
              text-align: center;

              @include breakpoint(mobile768) {
                width: 50%;
              }

              .day,
              .date {
                color: $footertitle;
                @include font($tt-nooks-script-trial, 16, normal, normal, 22.4);

                @include breakpoint(tab992) {
                  font-size: size(18);
                }
              }
            }

            .divider {
              @include w100;
              height: size(1);
              margin: size(8) auto;
              background: $footertitle;

              @include breakpoint(mobile768) {
                width: size(1);
                height: size(34);
                margin: 0;
              }
            }

            .locationbox {
              @include flex-center-column;
              text-align: center;

              @include breakpoint(mobile768) {
                width: 50%;
                padding-left: size(16);
              }

              .location {
                color: $footertitle;
                @include font($tt-nooks-script-trial, 16, normal, normal, 22.4);

                @include breakpoint(tab992) {
                  font-size: size(18);
                }
              }
            }
          }
        }
      }
  
      .overlay {
        background: rgba($overlaybg, 0.6);
        position: absolute;
        inset: 0;
        @include wh100;
        z-index: 1;
      }

      .btn-close {
        background: transparent;
        position: absolute;
        top: size(64);
        right: size(48);
        width: size(30);
        height: size(14);
        @include flex-center;
        overflow: hidden;
        z-index: 1000;

        svg {
          @include wh100;
        }

        @include hover {
          opacity: 1;
        }
      }
    }

    .menu-thumbnail {
      position: relative;
      @include w100;
      min-height: 100vh;

      img {
        @include w100;
        min-height: 100vh;
      }

      .info {
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
        @include flex-center-column;
        gap: size(8);
        z-index: 100;

        .title {
          color: $white;
          font-family: $alexbrush;
          font-size: size(24);
  
          @include breakpoint(mobile576) {
            font-size: size(36);
          }
        
          @include breakpoint(mobile768) {
            font-size: size(44);
          }
        
          @include breakpoint(desktop1200) {
            font-size: size(53);
          }
        }

        .date {
          color: $white;
          @include font($tt-nooks-script-trial, 18, normal, normal, 25.2);
          
          @include breakpoint(mobile768) {
            font-size: size(22);
          }

          @include breakpoint(tab992) {
            font-size: size(24);
          }
        }
      }
  
      .overlay {
        background: rgba($overlaybg, 0.6);
        position: absolute;
        inset: 0;
        @include wh100;
        z-index: 1;
      }
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      @include radius(8);
    }
  }
}